/* div span {
  width: max-content;
  margin: 0 auto;
  border: solid 2px blue;
  border-radius: 7px;
  display: block;
  padding: 100px;
  font-size: 70px;
}
div h6 {
  margin: 0 auto;
  width: max-content;
  color: blue;
} */
