.nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
}
.li {
  margin: 10px;
  margin-left: auto;
}
.me-auto{
  width: 100%
}
.l-g{
  margin-left: auto;
}