* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #645757;
}
/* .App {
  background-color: black;
} */

/* .table,
th,
td {blue
  border: 1px solid black;
}

.table {
  margin: 0 auto;
} */
